{% comment %}
REQUIRED: paws_number
{% endcomment %}

<div class="paw__container hidden_lap_down">
  {% if paws_number == 1 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 2 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 3 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 4 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__4" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 5 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__4" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__5" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 6 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__4" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__5" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__6" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 7 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__4" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__5" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__6" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__7" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 8 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__4" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__5" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__6" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__7" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__8" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 9 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__4" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__5" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__6" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__7" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__8" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__9" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% elsif paws_number == 10 %}
  <img class="paw paw__1" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__2" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__3" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__4" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__5" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__6" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__7" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__8" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__9" src="{{ 'paw.png' | asset_img_url: "master" }}">
  <img class="paw paw__10" src="{{ 'paw.png' | asset_img_url: "master" }}">
  {% else %}
  <span>Please add REQUIRED variable "paws_number" in form of <strong>paws_number: number</strong> -- max 10 paws</span>
  {% endif %}
</div>