{% comment %}
  @param product
{% endcomment %}

{% assign product = product | default: nil %}
{% assign selected_variant = product.selected_or_first_available_variant %}

{% capture product_card_details %}
  <div class="product-card-details">
    <h2 class="title">
      <a href="{{ product.url | within: collection }}">
        {{ product.title }}
      </a>
    </h2>
    {% assign itemType = product %}
    {% comment %}Inject product-item-price begin{% endcomment %}
    {% comment %}
      @param itemType {Product} - Product for the product card
    {% endcomment %}

    <div class="product-item__price">
      {% if itemType.compare_at_price_min > itemType.price_min %}
      <span class="money money--last ff__thic-extra-bold">{{ itemType.price_min | money }}</span> <span class="original money"> {{ itemType.compare_at_price_min | money }}</span><span class="percentage__off ff__thic-bold">{{ itemType.compare_at_price_min | minus: itemType.price_min | times: 100 | divided_by: itemType.compare_at_price_min }}% Off</span>
      {% else %}
      <span class="money money--last ff__thic-extra-bold">{{ itemType.price_min | money }}</span>
      {% endif %}
      
      {% assign variant_for_unit_price = itemType.variants | sort: 'price' | first %}
      {% if variant_for_unit_price.unit_price_measurement %}
        {% capture total_quantity %}<span>{{ variant_for_unit_price.unit_price_measurement.quantity_value }}{{ variant_for_unit_price.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
        {% capture unit_price %}<span>{{ variant_for_unit_price.unit_price | money }}</span>{% endcapture %}
        {% capture unit_measure %}<span>{%- if variant_for_unit_price.unit_price_measurement.reference_value != 1 -%}{{ variant_for_unit_price.unit_price_measurement.reference_value }}{%- endif -%}{{ variant_for_unit_price.unit_price_measurement.reference_unit }}</span>{% endcapture %}
    
        <div class="product-item__unit-price">
          {{ 'products.product.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
        </div>
      {% endif %}
    </div>
    {% comment %}Inject product-item-price end{% endcomment %}

  </div>
{% endcapture %}

{% capture product_card_interactions %}
<div class="recommended-product-card-interactions">
  
  <form class="recommended__form" action="/cart/add" method="post" data-recommended-form>
    {% for option in product.options_with_values %}
    <div class="recommended-options-wrap">
      <label for="recommended_OptionSelector-{{ forloop.index0 }}"> {{ option.name }}</label>
      <select id="recommended_OptionSelector-{{ forloop.index0 }}" class="recommended_selector--{{ option.name }}">
        {% for value in option.values %}
        <option value="{{ value }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
  
    <select id="recommended_master-select" data-product-id="{{ product.id }}" style="display:none;">
      {% for variant in product.variants %}
        <option value="{{ variant.id }}"
                data-title="{{ variant.title }}" 
                {% unless variant.available %}
                disabled
                {% endunless %}>
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>

    <input class="recommended__variant-id" type="hidden" name="id" value="{{ selected_variant.id }}">

    <div class="recommended_quantity_wrap custom__quantity">
      <input type="number" 
             class="recommended-quantity-input" 
             name="quantity" 
             value="1" 
             min="1" 
             pattern="\d*">
    </div>

    <div class="recommended__atc-wrap">
      <button type="submit"
              class="recommended__atc ff__thic-extra-bold"
              {% unless selected_variant.available %}
              disabled
              {% endunless %}
              data-ajaxify>
        {% if selected_variant.available %}
        <span>+ add</span>
        {% else %}
        {{ 'products.product_item.sold_out' | t }}
        {% endif %}
      </button>
    </div>
  </form>
  
</div>
{% endcapture %}

<div class="
    product__recommended
    product-{{ product.id }}
    {% render 'for-looper', forloop: forloop %}
    {{ cardType }}">

  <div class="product__recommended-inner">
    <figure class="product-card-figure">
      {% if product.featured_media %}
        {% render 'rimg', img: product.featured_media.preview_image, size: '200x200', lazy: true %}
      {% endif %}
      <a href="{{ product.url | within: collection }}"></a>
    </figure>

    <div class="recommended_product-card-footer">
      {{ product_card_details }}
    </div>

  </div>
  
  {{ product_card_interactions }}
  
</div>
