{% assign fitting_guide_icon = fitting_guide_icon | default: blank %}
{% assign fitting_guide_url = fitting_guide_url | default: blank %}
{% assign show_brand_names = show_brand_names | default: false %}
{% assign show_email_link = show_email_link | default: false %}
{% assign callout = callout | default: false %}
{% assign show_quantity = show_quantity | default: false %}
{% assign show_spb = show_spb | default: false %}

{% comment %}Dynamic checkout is not shown if selling plans are available{% endcomment %}
{% if product.selling_plan_groups.size > 0 %}
  {% assign show_spb = false %}
{% endif %}

{% assign selected_variant = product.selected_or_first_available_variant %}
{% assign is_default = product.has_only_default_variant %}

{% assign enable_image_zoom = enable_image_zoom | default: false %}
{% assign gallery_layout = gallery_layout | default: 'list' %}
{% assign selected_media = selected_variant.featured_media | default: product.featured_media %}
{% assign show_media_borders = show_media_borders | default: false %}
{% assign onboarding = onboarding | default: false %}
{% assign details_alignment = details_alignment | default: section.settings.details_alignment %}

<section
  class="
    product-area
    clearfix
  "
>
  {%
    render 'product-gallery',
    product: product,
    selected_media: selected_media,
    gallery_layout: gallery_layout,
    show_media_borders: show_media_borders,
    enable_image_zoom: enable_image_zoom,
  %}

  <div class="product-details-wrapper mobile-content-area">
    <div class="
        product-details
        product-details-alignment-{{ details_alignment }}
        {% if product.media.size > 1 %}
          border
        {% endif %}
        {% if is_default and show_quantity == false %}
          no-options
        {% endif %}
      "
    >
      <div class="header">
        {% if show_brand_names %}
          <h3 class="brand">
            {% if product != empty %}
              {{ product.vendor }}
            {% else %}
              {{ 'onboarding.product_vendor' | t }}
            {% endif %}
          </h3>
        {% endif %}

        <h1 class="title ff__LtProjecktHeavy">
          {% if product != empty %}
            {{ product.title }}
          {% else %}
            {{ 'onboarding.product_name' | t }}
          {% endif %}
        </h1>
        
        <div class="product-title__reviews">
          <a href="#looxReviews">
            <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}">
            </div>
          </a>
        </div>

        <div class="product-details__price sale">
          {% if product != empty %}

          <span class="money money--last ff__thic-extra-bold" data-price="{{ selected_variant.price | money_without_currency }}">{{ selected_variant.price | money }}</span>
          
          {% if selected_variant.compare_at_price > selected_variant.price or product.has_only_default_variant == false %}
          {% comment %} If product has variants, this will be dynamically hidden or shown {% endcomment %}
          <span class="original money" data-original-price="{{ selected_variant.compare_at_price | money_without_currency }}">{{ selected_variant.compare_at_price | money }}</span>
          {% endif %}

          {% if selected_variant.compare_at_price > 0 %}
          <span class="percentage__off ff__thic-bold data-compare-price">{{ selected_variant.compare_at_price | minus: selected_variant.price | times: 100 | divided_by: selected_variant.compare_at_price }}</span><span class="percentage__off ff__thic-bold">% Off</span>
          {% endif %}
          
          {% else %}
            <span class="money money--last">{{ 'onboarding.product_price' | t }}</span>
          {% endif %}
          {% capture total_quantity %}<span class="product-details__total-quantity" data-total-quantity>{{ selected_variant.unit_price_measurement.quantity_value }}{{ selected_variant.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
          {% capture unit_price %}<span class="product-details__unit-price-amount money" data-unit-price-amount>{{ selected_variant.unit_price | money }}</span>{% endcapture %}
          {% capture unit_measure %}<span class="product-details__unit-price-measure" data-unit-price-measure>{%- if selected_variant.unit_price_measurement.reference_value != 1 -%}{{ selected_variant.unit_price_measurement.reference_value }}{%- endif -%}{{ selected_variant.unit_price_measurement.reference_unit }}</span>{% endcapture %}

          <div
            class="
              product-details__unit-price
              {% unless selected_variant.unit_price_measurement %}hidden{% endunless %}
            "
            data-unit-price
          >
            {{ 'products.product.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
          </div>

          {%- capture tax_text -%}
            {{ 'products.product.tax_line_html' | t }}
          {%- endcapture -%}

          {%- if tax_text != blank -%}
            <div class="
                product-details__tax
                {% unless selected_variant.taxable %}hidden{% endunless %}
              "
              data-tax-line
            >
              {{ tax_text }}
            </div>
          {%- endif -%}
        </div>

        {% if show_sku and selected_variant.sku != empty %}
          <span class="product-variant-sku">
            <strong>
              {{ 'products.product.sku' | t }}
            </strong>

            <span
              data-product-variant-sku
            >
              {{- selected_variant.sku | default: '' -}}
            </span>
          </span>
        {% endif %}
      </div>
      
      {% if show_description and product.description.size > 0 %}
        <div class="description no-border">
          <div class="rte">{{ product.description }}</div>
        </div>
      {% endif %}

      <div class="options {% unless show_quantity and product.variants.size > 0 %}has-no-variants{% endunless %} {% unless product.available %}unavailable{% endunless %}">
        {% assign form_id = product.id %}

        {% capture form_classes %}
          product-form
          {% if show_spb %}
            product-form-has-spb
          {% endif %}
          {% if selected_variant.available == false %}
            product-form-outofstock
          {% endif %}
        {% endcapture %}
        
        {% if product != empty and product.available %}
          {%
            form 'product',
            product,
            id: form_id,
            class: form_classes,
            data-product-form: ""
          %}
            <div class="product-form-grid product-form-grid-{{ variant_options_style }}">
              {% unless is_default %}
                {%
                  render 'product-options',
                  product: product,
                  form_id: form_id,
                  selected_variant: selected_variant,
                  style: variant_options_style,
                %}
              {% else %}
                <input
                  class="
                    product-select
                  "
                  name="id"
                  value="{{ product.variants[0].id }}"
                  type="hidden"
                  data-variant-title="{{ product.variants[0].title }}"
                />
              {% endunless %}

              <div class="product-infiniteoptions js-required side-labels" id="infiniteoptions-container"></div>
              <div class="product-uploadery js-required side-labels" id="uploadery-container"></div>
              
            </div>
        
            <div class="product__quantity-submit__wrap">

              {% if show_quantity %}
              {% comment %}
              <label
                     class="
                            product-quantity-label
                            "
                     >
                {{ 'general.quantity' | t }}:
              </label>
              {% endcomment %}
              <div class="custom__quantity">
                <input
                       type="number"
                       class="product-quantity-input"
                       name="quantity"
                       value="1"
                       min="1"
                       pattern="\d*"
                       >
              </div>
              {% else %}
              <input
                     type="hidden"
                     name="quantity"
                     value="1"
                     >
              {% endif %}

              <div class="product-form__button-submit-wrap">
                <button class="product-submit
                               action-button
                               submit
                               {% if show_spb %}
                               desaturated
                               {% endif %}
                               "
                        {% unless selected_variant.available %}
                        disabled
                        {% endunless %}
                        {% if onboarding %}
                        disabled
                        {% endif %}
                        data-product-submit
                        data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
                        >
                  
                  <span class="product-card-interaction-addtocart-available">
                    {% if selected_variant.available %}
                    <img class="atc__icon" src="{{ "cart_icon.png" | asset_img_url }}">
                    {{ 'products.product_item.add_to_cart' | t }}
                    {% else %}
                    {{ 'products.product_item.sold_out' | t }}
                    {% endif %}
                  </span>

                  <span class="product-card-interaction-addtocart-error">
                    {{ 'products.product_item.unavailable' | t }}
                  </span>

                  <div class="product-card-interaction-addtocart-spinner">
                    {% render 'icon' with 'spinner' %}
                  </div>
                </button>

                <div class="below_atc__message text__center">
                  <span>All orders will be sent within 24 Hours</span>
                </div>
              </div>
            </div>

            {% if show_spb %}
              {{ form | payment_button }}
            {% endif %}
          {% endform %}
        {% else %}
          <div class="product-form unavailable">
            <button
              class="
                product-submit
                action-button
                submit
                unavailable
                disabled
              "
              data-product-submit
            >
              {{ 'products.product.sold_out' | t }}
            </button>
          </div>
        {% endif %}
        <div class="surface-pick-up" data-surface-pick-up></div>
      </div>
      {% unless product.available %}<div><div class="si-button SI_trigger action-button">NOTIFY WHEN AVAILABLE</div></div>{% endunless %}
      <input type="hidden" id="free_shipping_value" value="{{ section.settings.free_shipping }}">

      {% assign product_interaction_count = 0 %}
      
      {% comment %}
      {% if fitting_guide_url != blank %}
        {% assign product_interaction_count = product_interaction_count | plus: 1 %}
      {% endif %}
      {% endcomment %}
      
      {% if show_email_link %}
        {% assign product_interaction_count = product_interaction_count | plus: 1 %}
      {% endif %}
      {% if show_social_buttons %}
        {% assign product_interaction_count = product_interaction_count | plus: 1 %}
      {% endif %}

      {% if product_interaction_count > 0 %}
        <div class="product-interactions product-interactions-{{ product_interaction_count }}">
          
          {% comment %}
          {% if fitting_guide_url != blank %}
            <a
              class="product-interaction fitting-guide"
              href="{{ pages[fitting_guide_url].url }}"
            >
              {% render 'icon' with fitting_guide_icon %}
              <span class="product-interaction-title">{{ 'products.product.fitting_guide' | t }}</span>
            </a>
          {% endif %}
          {% endcomment %}

          {% if show_email_link %}
            <a
              class="product-interaction email-us"
              href="mailto:{{ shop.email }}?Subject={{ product.title | escape }}"
            >
              {% render 'icon' with 'mail' %}
              <span class="product-interaction-title">{{ 'products.product.email_us' | t }}</span>
            </a>
          {% endif %}

          {% if show_social_buttons %}
            {% assign product_canonical_url = shop.url | append: product.url %}
            {% assign product_email_subject = 'products.product.share_email_subject' | t: product: product.title %}
            {% assign product_email_body = 'products.product.share_email_body' | t: product: product.title, product_url: product_canonical_url %}
            {% assign product_image = product.featured_media.preview_image | default: page_image | img_url: '1024x1024' %}
            {% assign product_description = product.title | escape %}

            <div class="product-interaction share-this">
              {%
                render 'share-this',
                share_canonical_url: product_canonical_url,
                email_subject: product_email_subject,
                email_body: product_email_body,
                image: product_image,
                description: product_description,
              %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if callout %}
        <a class="product-callout" href="{{ product.url | within: collection }}">
          {{ 'products.product.visit_page' | t }}<span>→</span>
        </a>
      {% endif %}
      
      <div class="product_values_reviews__wrap hidden_desktop">
        <div class="product__values product__values--mobile">
          {% for block in section.blocks %}
            {% if block.type == "image" %}
            <div class="product_value-item" {{ block.shopify_attributes }}>
              {% render 'rimg' img: block.settings.image, lazy: true %}
              <p class="ff__thic-bold">{{ block.settings.text }}</p>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="cst-shipping-time">
        Estimated delivery between <b>Monday 04 October</b> and <b>Tuesday 05 October.</b>
      </div>
      
      <div class="product__recommendations">
        <div class="recommended_header">
          {% if section.settings.recommended_heading != blank %}
          <h3 class="ff__LtProjecktHeavy">{{ section.settings.recommended_heading }}</h3>
          {% endif %}
          {% if section.settings.recommended_subheading != blank %}
          <p>{{ section.settings.recommended_subheading }}</p>
          {% endif %}
        </div>
        <div class="recommended_body">
          {% if section.settings.recommended_collection != blank %}
          {% assign coll = section.settings.recommended_collection %}
            {% for pr in collections[coll].products limit: 3 %}
              {% unless pr.handle == product.handle %}
                {% render 'product-item-recommended', product: pr %}
              {% endunless %}
            {% endfor %}
          {% else %}
            {% for pr in collections.bestseller.products limit: 2 %}
            	{% render 'product-item-recommended', product: pr %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      
      <div class="review__carousel-wrap review__carousel-wrap--mobile hidden_desktop">
        <div class="review__carousel--mobile">
          {% for block in section.blocks %}
            {% if block.type == "text" %}
            <div class="single__review" {{ block.shopify_attributes }}>
              <div class="single__review-name">
                {{ block.settings.name }}
                <img src="{{ "stars.png" | asset_img_url: "master" }}">
              </div>
              {{ block.settings.review_text }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</section>
