{% assign pxs_newsletter_form_success = 'form.success' | t %}
{% assign pxs_newsletter_form_placeholder = 'form.placeholder' | t %}
{% assign pxs_newsletter_form_submit = 'form.submit' | t %}
{% assign pxs_newsletter_form_id = 'pxs-newsletter-' | append: section.id %}

<script
  type="application/json"
  data-section-type="pxs-newsletter"
  data-section-id="{{ section.id }}"
>
</script>

<section class="pxs-newsletter">

  <div class="pxs-newsletter-content">
    <div class="pxs-newsletter--left">
    <div class="pxs-newsletter-header">
      
      {% assign sectionHeading = section.settings.title %}
      
      {% if sectionHeading != blank %}
      <h2 class="newsletter__heading">

        {% assign highlight = section.settings.highlight %}
        {% assign custom_heading = sectionHeading | split: " " %}

        {% if sectionHeading != blank and highlight != blank %}

        {% for head in custom_heading %}
          {% if head contains highlight %}
          	{{ head | replace: head, "<span class='accent__blue'>" | append: highlight | append: "</span>" }}
          {% else %}
          	{{ head }}
          {% endif %}
        {% endfor %}

        {% else %}
        	{{ sectionHeading }}
        {% endif %}

      </h2>
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="pxs-newsletter-text">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>

      {% comment %}
      {% include 'newsletter', pxs_newsletter_image: pxs_newsletter_image, pxs_newsletter_form_success: pxs_newsletter_form_success, pxs_newsletter_form_placeholder: pxs_newsletter_form_placeholder, pxs_newsletter_form_submit: pxs_newsletter_form_submit, pxs_newsletter_form_id: pxs_newsletter_form_id %}
      {% endcomment %}
      
      <form id="email_signup" class="klaviyo_gdpr_embed_TzE4Ne contact-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
        <input type="hidden" name="g" value="TzE4Ne">

        <div class="pxs-newsletter-form-fields">
          <div class="pxs-newsletter-form-field klaviyo_field_group">
            <label class="pxs-newsletter-form-label" for="k_id_email">
              Email address
            </label>

            <input id="k_id_email" class="pxs-newsletter-form-input" name="email" type="email" placeholder="Email address" aria-label="Email address" value="" required>
          </div>

          <div class="pxs-newsletter-form-field klaviyo_form_actions">
            <button class="pxs-newsletter-form-button wider__button klaviyo_submit_button" name="subscribe" type="submit">
              Subscribe
            </button>
            {% if section.settings.newsletter_button_note != blank %}
            <img src="{{ "arrow_blue.png" | asset_img_url: "master" }}">
            <span class="ff__script-regular">{{ section.settings.newsletter_button_note }}</span>
            {% endif %}
          </div>

          <div class="klaviyo_messages">
            <div class="success_message" style="display:none;"></div>
            <div class="error_message" style="display:none;"></div>
          </div>
        </div>

      </form>
    
  </div>
  </div>
  
  {% if section.settings.image %}
  <div class="psx-newsletter--right">
      {%
        include 'rimg',
        img: section.settings.image,
        class: 'custom--pxs-newsletter-image',
        size: '500x',
        canvas: true,
        lazy: true
      %}
  </div>
  {% endif %}
  
</section>

{% schema %}
{
  "name": "Custom Newsletter",
  "class": "pxs-newsletter-section custom__newsletter-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
	{
      "type": "text",
      "id": "highlight",
      "label": "Highlight Word in heading",
      "default": "Dogslanding"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Invite customers to join your mailing list.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
	{
      "type": "text",
      "id": "newsletter_button_note",
      "label": "Button note"
    }
  ],
  "presets": [
    {
      "name": "Custom Newsletter",
      "category": "Promotional"
    }
  ],
  "locales": {
    "en": {
      "form": {
        "placeholder": "Email address",
        "submit": "Subscribe",
        "success": "Thanks for subscribing!"
      }
    }
  }
}

{% endschema %}