<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-type="dynamic-image-block"
  data-section-data
>
  {
    "parallax": false,
    "fixedHeightMobile": false,
    "fixedHeightDesktop": false
  }
</script>

{%- assign image = section.settings.image -%}

{%- assign heading = section.settings.title -%}
{%- assign content = section.settings.content -%}
{%- assign alignment = section.settings.alignment -%}

{%- assign button_1_link = section.settings.button_1_link -%}
{%- assign button_2_link = section.settings.button_2_link -%}
{%- assign button_1_text = section.settings.button_1_text -%}
{%- assign button_2_text = section.settings.button_2_text -%}

{%- assign button_note = section.settings.button_note -%}

{%- assign background_image = section.settings.background_image -%}
{%- assign background_image_mobile = section.settings.background_image_mobile -%}

<div class="custom__image-with-text__background--{{ section.id }}">

  <section
    class=" 
      custom__image-with-text
      custom__image-values-text
      custom__product-features
      home-section
      clearfix
      picture-block
      picture-block-{{ alignment }}
      picture-block--desktop-height-natural
      picture-block--mobile-height-natural
      {% if section.settings.margin == 'none' %}
        picture-block-no-margin
      {% endif %}
    "
  >
    <div class="picture-block-image--wrap">
      <div class="product_featues__images">
        
        {%- if section.settings.image_1 != blank -%}
        <div class="feature_image__img fi__1">
          
          {%- if section.settings.link_1 != blank -%}
          <a href="{{ section.settings.link_1 }}">
          {%- endif -%}
          
          {% render 'rimg' img: section.settings.image_1, alt: heading, size: '250x', lazy: true %}
          {{ section.settings.image_1_text }}
            
          {%- if section.settings.link_1 != blank -%}
          </a>
          {%- endif -%}
            
        </div>
        {%- endif -%}
        
        {%- if section.settings.image_2 != blank -%}
        <div class="feature_image__img fi__2">
          
          {%- if section.settings.link_2 != blank -%}
          <a href="{{ section.settings.link_2 }}">
          {%- endif -%}
          
          {% render 'rimg' img: section.settings.image_2 alt: heading, size: '250x', lazy: true %}
          {{ section.settings.image_2_text }}
            
          {%- if section.settings.link_2 != blank -%}
          </a>
          {%- endif -%}
            
        </div>
        {%- endif -%}
        
        {%- if section.settings.image_3 != blank -%}  
        <div class="feature_image__img fi__3">

          {%- if section.settings.link_3 != blank -%}
          <a href="{{ section.settings.link_3 }}">
          {%- endif -%}
          
          {% render 'rimg' img: section.settings.image_3, alt: heading, size: '250x', lazy: true %}
          <p class="feature__best-seller">Best Seller</p>
          {{ section.settings.image_3_text }}
            
          {%- if section.settings.link_3 != blank -%}
          </a>
          {%- endif -%}
            
        </div>  
        {%- endif -%}
        
        {%- if section.settings.image_4 != blank -%}
        <div class="feature_image__img fi__4">
          
          {%- if section.settings.link_4 != blank -%}
          <a href="{{ section.settings.link_4 }}">
          {%- endif -%}
          
          {% render 'rimg' img: section.settings.image_4, alt: heading, size: '250x', lazy: true %}
          {{ section.settings.image_4_text }}
            
          {%- if section.settings.link_4 != blank -%}
          </a>
          {%- endif -%}
            
        </div>
        {%- endif -%}
        
      </div>
    </div>

    <div class="picture-block-wrapper">
      <div class="centering-wrapper">
        <div class="picture-block-content">
          
          {% if heading != blank %}
          <h2 class="heading">
            {% assign highlight = section.settings.highlight %}
            {% assign custom_heading = heading | split: " " %}
            
            {% if heading != blank and highlight != blank %}
            
            {% for head in custom_heading %}
              {% if head contains highlight %}
              	{{ head | replace: head, "<span class='accent__blue'>" | append: highlight | append: "</span>" }}
              {% else %}
              	{{ head }}
              {% endif %}
            {% endfor %}
            
            {% else %}
            {{ heading }}
            {% endif %}
            
            {% if section.settings.heading_logo %}
            <img class="heading__logo" src="{{ "logo.png" | asset_img_url: "master" }}">
            {% endif %}
            
          </h2>
          {% endif %}

          {% if content != blank %}
          <div class="picture-block-body no_background">
            {{ content }}
          </div>
          {% endif %}
          
          {% if section.blocks.size > 0 %}
          <div class="image-text__values-container">
            
            {% for block in section.blocks %}
            <div class="image-text__value" {{ block.shopify_attributes }}>
              {% render 'rimg' img: block.settings.value_image, size: '150x', lazy: true %}
              <span class="ff__semi-bold">{{ block.settings.value_text }}</span>
            </div>
            {% endfor %}
            
          </div>
          {% endif %}

          {% if button_1_link != blank or button_2_link != blank %}
          <div class="action-buton__wrap">
            {% if button_1_text != blank %}
            <div class="image_text__button_wrap">
              <a href="{{ button_1_link }}" class="action-button wider__button">{{ button_1_text }}</a>
              {% if button_note != blank %}
              <img src="{{ "arrow_blue.png" | asset_img_url: "master" }}">
              <span class="action_button-value--note ff__script-regular">{{ button_note }}</span>
              {% endif %}
            </div>
            {% endif %}
            {% if button_2_text != blank %}
            <div class="image_text__button_wrap">
              <a href="{{ button_2_link }}" class="action-button wider__button transparent__button">{{ button_2_text }}</a>
            </div>
            {% endif %}
          </div>
          {% endif %}
          
        </div>
      </div>
    </div>
  </section>
  
</div>

<style>
  .fi__1:before {
    background: url({{ "base_1.png" | asset_img_url: "master" }});
    left: 40px;
    top: 30px;
    background-size: 275px;
    height: 100%;
  }
  .fi__2:before {
    background: url({{ "base_2.png" | asset_img_url: "master" }});
    top: -65px;
    background-size: 300px;
    left: 23px;
    height: 250px;
  }
  .fi__3:before {
    background: url({{ "base_3.png" | asset_img_url: "master" }});
    background-size: 350px;
    height: 350px;
    top: -45px;
    left: 0px;
    width: 350px !important;
  }
  .fi__4:before {
    background: url({{ "base_4.png" | asset_img_url: "master" }});
    background-size: 300px;
    height: 100%;
    top: -15px;
    left: 35px;
  }
  .fi__1:before,
  .fi__2:before,
  .fi__3:before,
  .fi__4:before {
  	content: "";
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 0;
    transition: all 0.3s;
  }

  .feature_image__img {
    transform: translateY(0px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition: transform 0.3s;
  }
  
  .feature_image__img:hover.fi__1:before,
  .feature_image__img:hover.fi__2:before,
  .feature_image__img:hover.fi__3:before,
  .feature_image__img:hover.fi__4:before {
    transform: translateY(-10px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition: transform 0.3s;
  }
  .fi__1 img,.fi__1 p,
  .fi__2 img,.fi__2 p,
  .fi__3 img,.fi__3 p,
  .fi__4 img,.fi__4 p {
    position: relative;
    font-size: 14px;
  }

  .fi__1 p {
    top: -65px;
    left: -10px;
  }
  .fi__2 p {
    top: -40px;
    left: -15px;
  }
  .fi__3 p {
    top: -25px;
  }
  .fi__4 p {
    top: -40px;
  }
  
  .feature__best-seller {
    font-size: 12px !important;
    width: 80px;
    background: #e67a00;
    left: 135px;
    color: #fff;
    text-transform: uppercase;
    padding: 2px;
  }
  
  @media (max-width: 1023px) {
    .picture-block-image--wrap {
      display: none;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1200px) {
    .fi__1:before {
      left: 30px;
      top: 60px;
    }
    .fi__1 img {
      top: 20px;
      left: 20px;
    }
    .fi__1 p {
      top: -50px;
      left: 30px;
    }
    .fi__2:before {
      height: 250px;
      width: 300px !important;
      left: -10px;
    }
    .fi__3 img {
      left: 40px;
    }
    .fi__3 p {
      left: 50px;
    }
    .fi__4:before {
      top: -115px;
    }
    .fi__4 img {
      top: -100px;
      left: 50px;
    }
    .fi__4 p {
      top: -140px;
      left: 40px;
    }
    .feature__best-seller {
      left: 140px !important;
    }
  }
</style>

{% if background_image != blank or background_image_mobile != blank %}
<style>
  #shopify-section-{{ section.id }} {
    position: relative;
  }
  
  .custom__image-with-text__background--{{ section.id }}:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  @media (min-width: 700px){
    .custom__image-with-text__background--{{ section.id }}:before {
      background: url({{ background_image | img_url: "master" }});
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  
  @media (max-width: 699px){
    .custom__image-with-text__background--{{ section.id }}:before {
      background: url({{ background_image_mobile | img_url: "master" }});
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
</style>
{% endif %}

{% schema %}
{
  "name": "Custom Product Features",
  "settings": [
    {
      "type": "select",
      "id": "margin",
      "label": "Show spacing",
      "options": [
        {
          "value": "regular",
          "label": "Regular"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "regular"
    },
    {
      "type": "header",
      "content": "Content Images"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
	{
      "type": "url",
      "id": "link_1",
      "label": "Link Image 1"
    },
	{
      "type": "richtext",
      "id": "image_1_text",
      "label": "Image Text 1",
      "default": "<p>Say a bit about your brand, a specific product, or promotion.</p>"
    },
	{
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
	{
      "type": "url",
      "id": "link_2",
      "label": "Link Image 2"
    },
	{
      "type": "richtext",
      "id": "image_2_text",
      "label": "Image Text 2",
      "default": "<p>Say a bit about your brand, a specific product, or promotion.</p>"
    },
	{
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    },
	{
      "type": "url",
      "id": "link_3",
      "label": "Link Image 3"
    },
	{
      "type": "richtext",
      "id": "image_3_text",
      "label": "Image Text 3",
      "default": "<p>Say a bit about your brand, a specific product, or promotion.</p>"
    },
	{
      "type": "image_picker",
      "id": "image_4",
      "label": "Image 4"
    },
	{
      "type": "url",
      "id": "link_4",
      "label": "Link Image 4"
    },
	{
      "type": "richtext",
      "id": "image_4_text",
      "label": "Image Text 4",
      "default": "<p>Say a bit about your brand, a specific product, or promotion.</p>"
    },
	{
      "type": "header",
      "content": "Background Images"
    },
	{
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
	{
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
	{
      "type": "checkbox",
      "id": "heading_logo",
      "label": "Enalbe heading logo"
    },
	{
      "type": "text",
      "id": "highlight",
      "label": "Highlight Word in heading",
      "default": "Dogslanding"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Say a bit about your brand, a specific product, or promotion.</p>"
    },
	{
      "type": "header",
      "content": "Buttons"
    },
	{
      "type": "url",
      "id": "button_1_link",
      "label": "Button 1 Link"
    },
	{
      "type": "text",
      "id": "button_1_text",
      "label": "Button 1 Text",
      "default": "Order Now"
    },
	{
      "type": "text",
      "id": "button_note",
      "label": "Button Note",
      "default": "Available now with bonuses"
    },
	{
      "type": "url",
      "id": "button_2_link",
      "label": "Button 2 Link"
    },
	{
      "type": "text",
      "id": "button_2_text",
      "label": "Button 2 Text",
      "default": "Check Products"
    }
  ],
  "blocks": [
    {
      "type": "value",
      "name": "Value",
      "settings": [
        {
          "type": "image_picker",
          "id": "value_image",
          "label": "Value Image"
        },
		{
          "type": "text",
          "id": "value_text",
          "label": "Value Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Custom Product Features"
    }
  ]
}

{% endschema %}